a {color:#2B4A78;}
/*header*/ 
#ie-warning {background:white;
position: relative;
margin: 0 auto;
background-color: #FFA;
border: solid 1px #DD9;
width: 960px;
font-size:12px;
line-height: 28px;
color: #666;
}
::selection { background: #F04530; color: white; text-shadow: none; }
/*body*/

.r5px {
    border-radius: 5px 5px 5px 5px;
}


/*after伪类+content方式*/
.clearfix:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}
/* Hides from IE-mac \*/
.clearfix {height: 1%;}
/* End hide from IE-mac */

/* index.php */
.page2, .page3, .page4 {display:none}
#login-form input{ margin-bottom:10px;margin-left:20px;}
#register-form input { margin-bottom:10px;margin-left:20px;}
